<% form_tag :action => url(:password) do %>
    Email<br />
    <%= text_field :name => "email", :size => 50, :class => 'title' %><br />
    <p><button type="submit" class="button">Request Password</button></p>
<% end %>